[submodule "pelican-alchemy"]
	path = pelican-alchemy
	url = git@github.com:mrmoje/pelican-alchemy.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
